<!-- tableLiaisonSecteurTlImpression.twig -->
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Actif" %}</th>
        {#<th style="width: 7%;"></th>#}
    </tr>
    {% for i, data in data_table %}
    <tr>
        <td>{{ data.Nom }}</td>
        <input type="hidden" id="IDImpression_{{ data.ID }}" value="{{ data.ID }}">
        <td class="text text-center">
            <input type="checkbox"
                   id="chkSecteurTlImpression_{{ data.ID }}" {% if (data.IDSecteur != '-' ) %} checked="checked" {% endif %}
                   onchange="getLiaisonSecteurTlImpression(this.checked?1:0,{{ data.ID }});">
        </td>
    </tr>
    {% endfor %}
</table>
{#{{ dump(data) }}#}