<!-- tableLiaisonGroupeTlFonction.twig -->
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>{% trans "Fonction" %}</th>
        <th>{% trans "Actif" %}</th>
        {#<th style="width: 7%;"></th>#}
    </tr>
    {% for i, data in data_table %}
    <tr>
        <td>
            {{ data.Nom }}<input type="hidden" id="IDPage_{{ data.ID }}" value="{{ data.ID }}">
        </td>
        <td class="text text-center">
            <input type="checkbox" id="chkMenuTlPage_{{ data.ID }}" {% if (data.IDGroupe != '-' ) %} checked="checked" {% endif %} onchange="getLiaisonGroupeTlFonction(this.checked?1:0,{{ data.ID }});">
        </td>
    </tr>
    {% endfor %}
</table>
{#{{ dump(data) }}#}